
<!--<div class="card" style=""  class="card-position" *ngFor="let etudiant of listeEtudiants ">
  <img class="card-img-top" [src]="etudiant.photo"  alt="Card image">
  <div class="card-body">
    <h4> {{etudiant.nom}}  {{etudiant.prenom}} </h4>
    <p><em>{{etudiant.promo}}</em></p>
   <p></p>
  </div>
</div>-->

<h1>Accueil</h1>

<div class="container">
  <div class="card-body">

 <h1 style="margin-top:80px ; color:blue ; margin-bottom: 471px; position: relative;">
    Hey  welcome !
  <a style="color: darkgoldenrod; font-size: 30px;" href routerLink="/edition" class="card card-link mt-4"> Acceder à l'édition </a>
 </h1>
  </div>
</div>

  <a routerLink="/listeEtudiants"> test</a>





<!--
<div class="card" style="width: 18rem;" *ngFor="let etudiant of listeEtudiants">
  <img class="card-img-top" [src]="etudiant.photo" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
     <h3> {{etudiant.nom}}  , {{etudiant.prenom}} </h3>
    <p><em>{{etudiant.promo}}</em></p>
    </p>
  </div>
  
</div>

-->

